{
    "presets": [
        "@babel/preset-env",
        [
            "@babel/preset-react",
            {
                "pragma": "h", // Preact pragma
                "pragmaFrag": "Fragment" // Preact Fragment pragma
            }
        ]
    ]
}