@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-regular: 400;
  --font-bold: 700;
  --font-black: 900;
  --barlow: "Barlow", sans-serif;
  --fraunces: "Fraunces", sans-serif;
}
