@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-regular: 400;
  --font-bold: 700;
  --font-black: 900;
  --barlow: "Barlow", sans-serif;
  --fraunces: "Fraunces", sans-serif;
}

body {
  background-color: #fefcf7;
  margin: auto;
  min-height: 100vh;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

main {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  width: calc(100% - 80px);
}
