@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lexend Deca', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
  font-family: 'Space Mono', monospace;
  font-weight: 700; /* Ensure the bold weight is applied */
}

h1 {
  @apply text-[56px] font-bold leading-[56px] tracking-[-2.5px] text-white;
}

h4 {
  @apply text-[24px] font-bold leading-[28px] tracking-[-1.07px];
}

p {
  @apply text-[15px] font-normal leading-[25px] tracking-normal;
}

li:has(.line):last-child .line {
  display: none;
}
